.blur {
    -webkit-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.cover-blur {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f3f4f4;
    margin-top: 25px;
    background-image: url("./blur_about.jpg");
    background-size: initial;
    width: 805px;
    height: 332px;
    max-width: 60vw;

}

.title-about {
    padding: 20px;
    font-size: 30px;
    border: #f3f4f4 5px solid;
    font-family: FuturaFuturis-bold, sans-serif;
}

.p-2 {
    padding: 0 30px !important;
    font-size: 20px;
}

@media (max-width: 767px) {
    .cover-blur {
        max-width: 100vw;
        height: 280px;
        background-size: cover;
    }

    .p-2 {
        padding: 0 20px !important;
        font-size: 20px;
    }
}

@media (max-width: 991px) {
    .cover-blur {
        max-width: 100vw;
        height: 280px;
        background-size: cover;
    }

    .p-2 {
        padding: 0 30px !important;
        font-size: 20px;
    }
}


@media (max-width: 575px) {
    .cover-blur {
        max-width: 100vw;
        height: 280px;
        background-size: cover;
    }

    .title-about {
        text-align: center;
        padding: 10px;
        font-size: 20px;
    }


}
