.titles {
    font-family: 'DINPro-Regular', sans-serif;
    font-size: 18px;
    color: #868685;
}

.titles-left-bar {
    text-align: left;
    margin-left: 25px;
}

.main-area {
}

.w1200 {
    justify-content: center;
}