.eventItem {
    margin-top: 35px;
}

.crop-container {
    width: 400px;
    height: 200px;
    overflow: hidden;
    cursor: pointer;
}

.crop-container img {
    margin-bottom: -180px;
    position: absolute;
}

.eventTitleMain {
    color: #ffc800;
    font-size: 28px;
    font-family: 'FuturaFuturis-bold', sans-serif;
    position: relative;
    border-bottom: 6px #ffc800 solid;

    margin: 120px 26px 0 12px;
}

.eventDescrMain {
    color: #ffc800;
    font-size: 15px;
    font-family: 'FuturaFuturis-bold', sans-serif;
    position: relative;
    margin-left: 12px;
    margin-right: 26px;
    margin-top: 5px;
}

.dateMain {
    position: absolute;
    color: #f3f4f4;
    right: 60px;
    top: 15px;
    font-size: 15px;
    font-family: 'DINPro-Light', sans-serif;
}

.note {
    margin: 60px auto 30px auto;
    text-align: center;
}

.next-btn {
    margin-top: 15px;
    margin-left: 5px;
    padding: 4px 10px !important;
}

.prev-btn {
    margin-left: 45px;
    margin-right: 10px;
    background: #fafafa;
    border: 1px #868685 solid;
    color: #868685;
    margin-top: 15px;
    padding: 4px 10px !important;
    font-family: FuturaFuturis-bold, sans-serif;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.prev-btn:hover {
    background: #868685;
    color: #f3f4f4;
    box-shadow: #ffc800 1px 2px;
    border-radius: 0 0 3px 3px;
}


@media (max-width: 767px) {
    .eventDescrMain, .eventTitleMain {
        max-width: 360px;
        background: rgba(0, 0, 0, 0.35);
        padding: 5px;
    }

    .eventDescrMain {
        margin-top: 0;
    }

    .dateMain {
        background: rgba(0, 0, 0, 0.35);
        padding: 5px;
    }

}

@media (max-width: 575px) {

    .crop-container {
        width: 100%;
        padding: 0;
    }

    .crop-container img {
        width: 100%;
    }

    .prev-btn {
        margin-left: 0;
    }

}
