.eventTitleMain-single {
    color: #ffc800;
    font-size: 28px;
    font-family: 'FuturaFuturis-bold', sans-serif;
    position: relative;
    border-bottom: 6px #ffc800 solid;
    margin: -80px 12px 0;
    background: rgba(0, 0, 0, 0.35);
    padding: 5px;
}

.eventDescrMain-single {
    color: #ffc800;
    font-size: 15px;
    font-family: 'FuturaFuturis-bold', sans-serif;
    position: relative;
    margin-left: 12px;
    margin-right: 12px;
    background: rgba(0, 0, 0, 0.35);
    padding: 3px;
}

.dateMain-single {
    position: absolute;
    color: #f3f4f4;
    right: 30px;
    top: 15px;
    font-size: 15px;
    font-family: 'DINPro-Light', sans-serif;
    background: rgba(0, 0, 0, 0.35);
    padding: 5px;
}

.rightSideMainArtist {
    font-family: FuturaFuturis-bold, sans-serif;
}

.rightSideMainDescr {
    margin-top: 18px;
    font-size: 14px;
    font-family: 'DINPro-Regular', sans-serif;
}

.yellow-text {
    color: #ffc800;
}

.yellow-text-bold {
    color: #ffc800;
    font-family: FuturaFuturis-bold, sans-serif;
    margin-top: 15px;
    font-size: 26px;
}

.scale {
    transition: all 0.5s ease;
}

.scale:hover {
    transform: scale(1.1) translateX(2px);
}

.pointer {
    cursor: pointer;
}

.buy-ticket-btn {
    border: 1px #ffc800 solid;
    border-radius: 5px;
    text-align: center;
    padding-top: 5px;
    width: 50%;
    font-size: 30px;
}

@media (max-width: 1199px) {
    .poster > img {
        max-width: 30vw;
    }

    .buy-ticket-btn {
        width: 100%;
    }

    .eventTitleMain-single, .eventDescrMain-single {
        max-width: 25vw;
    }

    .dateMain-single {
        right: 10vw;
        top: 1vw;
    }
}


@media (max-width: 991px) {
    .poster > img {
        max-width: 35vw;
    }


    .buy-ticket-btn {
        width: 100%;
    }

    .eventTitleMain-single, .eventDescrMain-single {
        max-width: 30vw;
    }

    .dateMain-single {
        right: 15vw;
        top: 1vw;
    }


}


@media (max-width: 575px) {
    .dateMain-single {
        right: 30px;
        top: 15px;
    }

    .eventTitleMain-single, .eventDescrMain-single {
        max-width: 370px;
    }


    .event-description {
        max-width: 100vw;
    }

    .w-100-wv {
        max-width: 100vw;
    }

    .poster {
        padding: 0;
    }

    .poster > img {
        max-width: 100vw;
    }

    .rightSideMainArtist {
        text-align: center;
        font-size: 25px;
    }

    .buy-ticket-btn {
        font-size: 30px;
        text-align: center;
        width: 100%;
    }

    .eventTitleMain-single {
        margin-top: -90px;
    }
}