.carousel-control-prev-icon, .carousel-control-next-icon {
    color: #868685;
    font-size: 45px;
    font-style: italic;
}

.halls-schemes {
    min-height: 470px;
}

@media (max-width: 575px) {
    .halls-schemes {
        min-height: auto;
    }
}
